:root {
    --main-color: #100e17;
    --accent-color: #0080E0;
    --header-text-color: whitesmoke;
}

html,
body {
    width: 100%;
    height: 100%;
    color: black;
    text-transform: uppercase;
    font-family: helvetica, arial;
    font-size: 15px;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    justify-items: center;
}

.content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;

}

/* HEADER */
/* ****** */
.header {
    width: 100%;
    padding: 1rem;
    background: var(--main-color);
    border-bottom: 1px solid #201c29;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .5);
    z-index: 2;
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 100px auto 400px;
    grid-template-areas:
        "logo . social"
        "logo . menu";
    align-items: center;
}

.logo {
    grid-area: logo;
}

.logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.logo a img {
    width: 100px;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    color: var(--header-text-color);
    margin-top: 10px;
}

.menu {
    grid-area: menu;
    align-self: end;
}

.menu-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-item a {
    text-decoration: none;
    font-weight: bold;
    color: var(--header-text-color);
}

.menu-item a:hover {
    color: var(--accent-color);
    transition: width .55s ease;
}

#menuToggle input {
    display: none;
}


/**** Right header ****/
.right-header {
    grid-area: social;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.search-box {
    display: flex;
    align-self: flex-start;
    vertical-align: middle;
    white-space: nowrap;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-box form input {
    width: 30px;
    height: 30px;
    background: var(--header-text-color);
    border: none;
    font-size: 0.7rem;
    float: left;
    color: var(--main-color);
    padding-left: 35px;
    border-radius: 10px;
    transition: width .75s ease;
}

.search-box form input:focus,
.search-box form input:active {
    outline: none;
    width: 200px;
}

.search-box:hover form input {
    width: 200px;
    ;
}

.search-box .icon {
    margin-left: -2rem;
    fill: var(--main-color);
}

.social-list {
    align-self: end;
    justify-self: end;
    display: flex;
    align-items: center;
    height: 100%;
}

.social-list li {
    display: inline-block;
    margin-left: 15px;
}

.icon {
    fill: var(--header-text-color);
    height: 1.6rem;
    z-index: 2;

}


/****** MAIN ******/
/*****************/
.main {
    background-color: lightgoldenrodyellow;
}

.aside {
    background-color: cornflowerblue;
}

.footer {
    width: 100%;
    padding: 1rem;
    color: var(--header-text-color);
    text-align: center;
    background-color: var(--main-color);
    border-top: 1px solid #201c29;
    box-shadow: 0 -4px 3px rgba(0, 0, 0, .5);
    z-index: 0;
}


/****** MEDIA QUERY ******/
/************************/
@media all and (max-width: 768px) {
    .header {
        grid-column-gap: 1em;
        grid-template-columns: 50px 50px auto 30px;
        grid-template-areas:
            "menu logo . search";
        align-items: center;
    }

    .logo {
        grid-area: logo;
    }

    .logo a img {
        width: 50px;
    }

    .logo-text,
    .social-list {
        display: none;
    }

    .right-header,
    .menu {
        grid-row: row-start / 1;
    }

    .search-box {
        grid-area: search;
        display: flex;
        vertical-align: middle;
    }

    /**** Gamburger ****/
    #menuToggle {
        grid-area: gamburger;
        display: block;
        position: relative;
        top: -10px;
        left: 0;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: var(--header-text-color);
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--header-text-color);
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu-list {
        display: block;
        box-sizing: border-box;

        position: absolute;
        width: 300px;
        height: 100vh;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: var(--main-color);
        border-right: 1px solid #201c29;
        box-shadow: 4px 0px 3px rgba(0, 0, 0, .5);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-item {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }


}